<div class="mx-auto my-auto mt-6">
  <div class="text-center">
    <h1 class="lg:p-4 font-extrabold lg:text-4xl">Todo List App</h1>
    <div class="sm:mt-2 lg:mt-4">
      <div class="p-5 w-8/12 mx-auto my-auto">
        <form
          #todoForm="ngForm"
          (ngSubmit)="addTask(todoForm)"
          class="flex justify-center"
        >
          <input
            class="sm:w-10/12 md:w-11/12 focus:bg-slate-200 hover:bg-slate-200 lg:p-2 sm:p-1 sm:placeholder:text-xs md:placeholder:text-sm lg:placeholder:text-lg lg:font-bold sm:font-medium sm:text-sm text-sky-700 lg:text-lg rounded-l-lg lg:w-11/12"
            type="text"
            placeholder="Enter the tasks..."
            name="taskName"
            (ngModel)="(taskName)"
          />
          <button
            type="submit"
            class="sm:w-2/12 md:w-1/12 lg:w-1/12 lg:p-2 hover:bg-sky-700 bg-sky-500 rounded-r-lg"
          >
            <i class="fa fa-plus sm:text-xs lg:text-sm"></i>
          </button>
        </form>
        <div
          class="mt-6 flex justify-center"
          *ngFor="let task of tasksArr; let i = index"
        >
          <input
            class="sm:w-10/12 md:w-11/12 lg:p-2 sm:p-1 sm:placeholder:text-xs md:placeholder:text-sm lg:placeholder:text-lg lg:font-bold sm:font-medium sm:text-sm text-sky-700 lg:text-lg rounded-l-lg lg:w-11/12"
            type="text"
            name="taskName"
            [value]="task"
            readonly
            #compTask
          />
          <button
            (click)="completed(compTask)"
            class="sm:w-2/12 md:w-1/12 lg:w-1/12 lg:p-2 hover:bg-green-900 bg-green-700"
          >
            <i class="fa fa-check sm:text-xs lg:text-sm"></i>
          </button>
          <button
            (click)="deleteTask(i)"
            class="sm:w-2/12 md:w-1/12 lg:w-1/12 lg:p-2 hover:bg-red-900 bg-red-700 rounded-r-lg"
          >
            <i class="fa fa-close sm:text-xs lg:text-sm"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
